<h1>Mechanic Info</h1>

<div id='info'>
Name: <%= @mech.name %><br>
Years of Experience: <%= @mech.exp %> <br>
</div>

<div id='list'>
<h3>Rides Working On:</h3>
<% @mech.thrill_sort.each do |ride| %>
  <div id='ride-<%=ride.id%>'><%= ride.name%><br><div>
<%end%>
</div>

<div id='add_ride_form'>
<%= form_with url: "/mechanics/#{@mech.id}", method: :patch, local: true do |form|%>
<%= form.label :add_ride_id, 'Add a Ride to Mechanic:'%>
<%= form.text_field :add_ride_id, placeholder: 'Enter ride ID...', required: true, class: 'form-control'%>
<%= form.submit 'Add'%>
<%end%>

</div>